body{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

#profile-wrapper {
    text-align: center;
}

#profile-pic{
	width:150px;
	height: 150px;
	border-radius: 50%;
	margin-left: auto;
  	margin-right: auto;
}

#certifications{
	width:50%;
	height: 80%;
	margin-left: auto;
  	margin-right: auto;

}



ul{
	padding: 0;
    list-style-type: none;

}


.social-links ul, li{
	list-style-type:none;
	display: inline-block;
}

.social{
	width:30px;
	height: 30px;
}